.layout{
    height: 100%;
    .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;
    }
      
    .trigger:hover {
        color: #1890ff;
    }
      
    .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
    }
      
    .site-layout .site-layout-background {
        background: #fff;
    }
    .ant-layout-header{
        padding: 0 40px 0 0;
    }

    .headmenu{
        margin: 0;
        float: right;
        li{
            padding: 0 20px;
            cursor: pointer;
            &.avatar{
                position: relative;
                &:hover{
                    .dropdown{
                        padding: 10px 0;
                        height: auto;
                    }
                }
                .dropdown{
                    position: absolute;
                    width: 120px;
                    height: 0;
                    overflow: hidden;
                    right: 0;
                    background: #fff;
                    box-shadow: 0 0 6px rgba(0,0,0,.2);
                    box-sizing: border-box;
                    cursor: default;
                    .list{
                        width: 100%;
                        .item{
                            padding: 0 20px;
                            white-space: nowrap;
                            line-height: 40px;
                            &:hover{
                                cursor: pointer;
                                background: #1890ff;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}
